^{:watch-dirs       ["test/cljs" "src/cljs"]
  :css-dirs         ["resources/public/css"]
  :auto-testing     true
  :extra-main-files {:cards {:main graphqlaid.cards}}}
{:main     graphqlaid.app
 :devcards true}
